*{
    padding: 0;
    margin: 0;
}
body{
    background-color: darkgrey;
    height: 50%;
}
.toy{
    width: 100%;
    display: flex;
    gap: 30px;
    height: 350px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: beige;
   

}
.btn{
text-align: center;
color: azure;
cursor: pointer;
border: gold;
border-radius: 15px;
margin-top: 30px;
padding: 5px;
background-color: red;
align-items: center;

}
.resultholder{
    height:30px;
    font-weight:bold;
    width:100%;
    text-align: center;

}
.studengrade{
    border: 1px  solid white;
    margin: 2px;
    padding: 19px;
    background-image: url(images/grade.png); 
    background-repeat: no-repeat;
background-size: cover;
    width: 45%;
    float:left;
    min-height: 40vh;
    text-align: center;
    border-radius: 25px;
}
#grade_output{
font-size: medium;
color: aqua;
}
#speedtest{
    border: 1px  solid white;
    margin: 2px;
    padding: 19px;
   width: 45%;
    float:right;
    min-height: 40vh;
    background-image: url(images/speed3.jpg); 
 background-repeat: no-repeat;
 background-position: right;
background-size: cover;
    text-align: center;
    border-radius: 25px;
}
#input_test{
    padding:5px;

}